# Theme colors
custom_background_color  0.118 0.118 0.118
custom_text_color        0.851 0.902 0.902
background_color         0.118 0.118 0.118

# Enable custom color on startup
startup_commands  toggle_custom_color

# Theme switching commands
new_command _theme_white bash /home/roney/.config/sioyek/theme.sh white
new_command _theme_sepia bash /home/roney/.config/sioyek/theme.sh sepia
new_command _theme_dark  bash /home/roney/.config/sioyek/theme.sh dark
